.DS_Store
*.pyc
brutas-passwords-4-m.txt
brutas-passwords-5-l.txt
brutas-passwords-6-xl.txt
brutas-passwords-7-all.txt
brutas-passwords-4-m.txt.gz
brutas-passwords-5-l.txt.gz
brutas-passwords-6-xl.txt.gz
brutas-passwords-7-all.txt.gz